.unrealircd_overview {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	border-radius: 7px;
	width: 25%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.badge-pill {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.curvy {
	border-radius: 7px;
	margin: 2px;
}

.short-form-control {
	width: 70%;
}


.align_right {
	width: 10px;
	text-align: right;
}

.input_text {
	border-radius: 7px;
}

.filter-fields {
	height: 30px;
	width: 400px;
	padding: 5px 5px;
	margin: 8px 0;
	border-radius: 7px;
}


.align_label {
	width: 80px;
	display: inline-block;
	text-align: right;
}

body {
    padding-bottom: 120px;
}
footer {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 55px;
  }

.topnav {
	background-color: #333;
	overflow: hidden;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}


body {
	padding-top: 45px;
	background-image: url("../img/background.jpg");
	display: flex;
	flex-direction: column;
}


.alert-short {
	width: 40%;	
}

/* The close button */
.closebtn {
	color: black;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}


.checkbox-dropdown {
	width: 200px;
	border: 1px solid #aaa;
	padding: 10px;
	position: relative;
	margin: 0 auto;
	
	user-select: first;
}

/* Display CSS arrow to the right of the dropdown text */
.checkbox-dropdown:after {
	content:'';
	height: 0;
	position: absolute;
	width: 0;
	border: 6px solid transparent;
	border-top-color: #000;
	top: 50%;
	right: 10px;
	margin-top: -3px;
}

/* Reverse the CSS arrow when the dropdown is active */
.checkbox-dropdown.is-active:after {
	border-bottom-color: #000;
	border-top-color: #fff;
	margin-top: -9px;
}

.checkbox-dropdown-list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%; /* align the dropdown right below the dropdown text */
	border: inherit;
	border-top: none;
	left: -1px; /* align the dropdown to the left */
	right: -1px; /* align the dropdown to the right */
	opacity: 0; /* hide the dropdown */
   
	transition: opacity 0.4s ease-in-out;
	height: 100px;
	overflow: scroll;
	overflow-x: hidden;
	pointer-events: none; /* avoid mouse click events inside the dropdown */
}
.is-active .checkbox-dropdown-list {
	opacity: 1; /* display the dropdown */
	pointer-events: auto; /* make sure that the user still can select checkboxes */
}

.checkbox-dropdown-list li label {
	display: block;
	border-bottom: 1px solid silver;
	padding: 10px;
   
	transition: all 0.2s ease-out;
}

.checkbox-dropdown-list li label:hover {
	background-color: #555;
	color: white;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #a5a5a549;
 }
 .table-striped>tbody>tr:nth-child(odd)>td, 
 .table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #ffffff;
  }
	
  /* Small screens (max-width: 576px) */
@media (max-width: 576px) {
   /* Change the font size for all headings */
   h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
  }

  /* Hide the sidebar */
  .sidebar {
    display: none;
  }

  /* Make the main content take up the full width of the screen */
  .main-content {
    width: 100%;
  }
}

/* Medium screens (min-width: 577px) and (max-width: 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  /* Change the font size for all headings */
  
}

/* Large screens (min-width: 769px) */
@media (min-width: 769px) {
  /* CSS rules for large screens go here */
}
/* Portrait screens (max-width: 576px) */
@media (max-width: 576px) and (max-height: 812px) {
  /* CSS rules for portrait screens go here */
}

/* Landscape screens (min-width: 577px) and (max-height: 812px) */
@media (min-width: 577px) and (max-height: 812px) {
  /* CSS rules for landscape screens go here */
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
	width: inherit;
}

.card-header .badge {
	top:-10px;
	left:20px;
}

.card-header i.fa {
	line-height: 74px;
}

#top-country ul {
	list-style: none;
}

#top-country li {
  padding: 5px;
  display: inline-block;
  margin: 9px;
  border: solid 1px #ccc;
}

#top-country li .drag {
  text-align: center;
}

#top-country li .count {
  text-align: center;
  font-size: 2.2rem;
}

#top-country li .count span {
  display:block;
  text-align: center;
  font-size: 1rem;
}
