<?php

/**
 * The configuration file for your admin panel.
 * 
 */

 if (!defined('UPATH'))
    die("Access denied");

/**
 * The base URL, how this panel can be accessed.
 * This would be '/' if you installed in the web root,
 * or something like '/webpanel/' if you go to http://x.y.z/webpanel
 * IMPORTANT: needs a trailing slash!
*/
define( 'BASE_URL', '/unrealircd-webpanel/' );

/**
 *  The RPC User name as defined in your unrealircd.conf
 *  Guide / Documentation: https://www.unrealircd.org/docs/JSON-RPC
*/
define( 'UNREALIRCD_RPC_USER', 'apiuser' );

/**
 *  The RPC User password as defined in your unrealircd.conf
*/
define( 'UNREALIRCD_RPC_PASSWORD', 'securepassword' );

/** 
 * The host IP or name of your RPC server
*/
define( 'UNREALIRCD_HOST', '127.0.0.1' );

/**
 * The port of your RPC server as defined in your unrealircd.conf
*/
define( 'UNREALIRCD_PORT', '8000' );

/** 
 * You should set this to true, if your RPC server is not on your local host
*/
define( 'UNREALIRCD_SSL_VERIFY', false );

/**
 * You should only need this, if you're developing something.
*/
define( 'UNREALIRCD_DEBUG', false );

/**
 * Your list of plugins:
 */
define(
    'PLUGINS', [

        /*  This is where you should type the name(s) of your plugins. 
         *  Uncomment the following line to view the live example
        */
        //"example_plugin", /* An example plugin */
        //"sql_auth", /* Provides a login page which uses SQL */
    ]
);


/**
 * If you wish to use the SQL user authentication system "sql_auth",
 * you'll need to specify your SQL information below.
 */

 /**
  * SQL IP address or hostname
  */
define('SQL_IP', "127.0.0.1");

/**
 * SQL Dabase name
 */
define('SQL_DATABASE', "unrealircd");
/**
 * SQL Username
 */
define('SQL_USERNAME', "unrealircd");

/**
 * SQL Password
 */
define('SQL_PASSWORD', "replace_this_with_your_sql_password");

/**
 * SQL Table prefix
 * You should only need to change this if you have already have one
 * or more instances of webpanel on the same database
 */
define('SQL_PREFIX', "unreal_");


/** 
 * The default user for the plugin "SQL_Auth". As soon as you load
 * the plugin, the user defined below will be created. It suggested
 * that you remove it after you've logged in successfully.
 */
define('SQL_DEFAULT_USER', [
    "username" => "default",
    "password" => "testing"
]);

/**
 * Also part of the SQL_Auth plugin. This protects your login page.
 * This is a list of DNS Blacklists that get checked for non-logged-in
 * users.
*/
define('DNSBL', [
    "dnsbl.dronebl.org",
	"rbl.efnetrbl.org"
]);
