<?php

/**
 * The configuration file for your admin panel.
 * 
 */

if (!defined('UPATH'))
	die("Access denied");

/**
 * The base URL, how this panel can be accessed.
 * This would be '/' if you installed in the web root,
 * or something like '/webpanel/' if you go to http://x.y.z/webpanel
 * IMPORTANT: needs a trailing slash!
*/
$config["base_url"] = '/unrealircd-webpanel/';

/**
 *  The RPC User name as defined in your unrealircd.conf
 *  https://www.unrealircd.org/docs/UnrealIRCd_webpanel#Configuring_UnrealIRCd
*/
$config["unrealircd"]["rpc_user"] = 'adminpanel';

/**
 *  The RPC User password as defined in your unrealircd.conf
*/
$config["unrealircd"]["rpc_password"] = 'securepassword';

/** 
 * The host IP or name of your RPC server
*/
$config["unrealircd"]["host"] = '127.0.0.1';

/**
 * The port of your RPC server as defined in your unrealircd.conf
*/
$config["unrealircd"]["port"] = '8600';

/** 
 * You should set this to true, if your RPC server is not on your local host
*/
$config["unrealircd"]["tls_verify_cert"] = false;

/**
 * You should only need this, if you're developing something.
*/
$config["debug"] = false;

/**
 * Your list of plugins:
 */
$config["plugins"] = [
		/*  This is where you should type the name(s) of your plugins. 
		 *  Uncomment the following line to view the live example
		*/
		//"example_plugin", /* An example plugin */
		//"sql_auth", /* Provides a login page which uses SQL */
		//"php_mailer", /* Provides ability to send emails on behalf of the admin panel */
	];


/**
 * If you wish to use the SQL user authentication system "sql_auth",
 * you'll need to specify your SQL information below.
 */

 /**
  * SQL IP address or hostname
  * You may specify a unix domain socket directory address
  * E.g:
  *     $config["mysql"]["host"] = "/path/to/unix/domain/socket";
  *
  * Path to unix socket MUST start with a slash "/"
  */
//$config["mysql"]["host"] = "127.0.0.1";

/**
 * SQL Dabase name
 */
//$config["mysql"]["database"] = "unrealircdwebpanel";

/**
 * SQL Username
 */
//$config["mysql"]["username"] = "unrealircdwebpanel";

/**
 * SQL Password
 */
//$config["mysql"]["password"] = "replace_this_with_your_sql_password";

/**
 * SQL Table prefix
 * You should only need to change this if you have already have one
 * or more instances of webpanel on the same database
 */
//$config["mysql"]["table_prefix"] = "unreal_";


/** 
 * The default user for the plugin "SQL_Auth". As soon as you load
 * the plugin, the user defined below will be created. It suggested
 * that you remove it after you've logged in successfully.
 */
//define('SQL_DEFAULT_USER', [
//	"username" => "default",
//	"password" => "testing"
//]);

/**
 * Also part of the SQL_Auth plugin. This protects your login page.
 * This is a list of DNS Blacklists that get checked for non-logged-in
 * users.
*/
//$config["dnsbl"] = ["dnsbl.dronebl.org", "rbl.efnetrbl.org"];

/** Your email settings
 * Requires plugin "php_mailer"
*/
$config["smtp"]["host"] = "127.0.0.1";
$config["smtp"]["port"] = 587;
$config["smtp"]["encryption"] = "tls"; /* Use 'tls' for STARTTLS or 'ssl' for TLS/SSL */
$config["smtp"]["username"] = "youremail@example.com", /* The email to login with and send emails from */
$config["smtp"]["password"] = "supersecretpassword", /* The password for the above email */
$config["smtp"]["from_name"] = "UnrealIRCd Admin Panel";
